<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>Please enter the one time password <br> to verify your account</h6>
            
            <form action="/check-otp" method="post">
                <div id="otp" class="inputs d-flex  justify-content-center mt-2">
                    <input class=" form-control rounded" type="text" id="first" maxlength="6" name="otp"
                        style="width: 10rem;" required/>
                </div>
                <!-- userdata -->
                <input class="invisible" name="logname" value="{{user.logname}}">
                <input class="invisible" name="logemail" value="{{user.logemail}}">
                <input class="invisible" name="lognumber" value="{{user.lognumber}}">
                <input class="invisible" name="logpassword" value="{{user.logpassword}}">




                <!-- userdata -->

                <button type="submit" class="btn btn-danger px-4 validate mt-4">Validate</button>
            </form>
        </div>

    </div>
</div>
<link rel="stylesheet" href="/stylesheets/otppage.css">